.container {
  width: 22%;
  height: auto;
  padding: 20px 20px;
}
.container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #ffc900;
}
.img {
  max-width: 400px;
  max-height: 200px;
}
.price {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
}
.desc {
  text-align: center;
  color: #777;
}
@media screen and (max-width: 786px) {
  .container {
    width: 100%;
    padding: 5px 20px;
  }
  .title {
    margin-top: 0;
    font-size: 24px;
  }
  .img {
    width: auto;
    height: auto;
  }
  .price,
  .desc {
    font-size: 18px;
  }
}
